* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 0%);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.weather-app {
    background-color: rgb(149, 120, 255);
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 15px;
}

.search-form {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 20px;
    border: 2px solid rgb(19, 236, 240) 0px 3px 8px;
    border-radius: 15px;
    font-size: 1rem;
    height: 3.5rem;
}

.search-btn {
    background-color: rgb(55, 0, 255);
    border: none;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    margin-left: 10px;
    transition: backgroung-color 0.3s ease;
}

.search-btn:hover {
    background-color: #000000;
}

.city-date-section {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.city-date-section .city {
    font-size: 2rem;
    opacity: 0.9;
}

.city-date-section .date {
    background-color: #9d43c6;
    padding: 10px 20px;
    border-radius: 15px;
}

.temperature-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.temperature-info .temp {
    font-size: 10rem;
}

.temperature-info .description {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.temperature-info .description i {
    font-size: 1.5rem;
    opacity: 0.8;
}

.temperature-info .description span {
    font-size: 1.5rem;
}

.additional-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.wind-info,
.humidity-info,
.visibility-info {
    background-color: #9d43c6;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    padding: 30px 20px;
    box-shadow: rgb(19, 236, 240) 0px 3px 8px;
}

.additional-info .material-icons {
    font-size: 3rem;
    opacity: 0.8;
}

.wind-info div,
.humidity-info div,
.visibility-info div {
    text-align: center;
}
